# eclipse project
.project
.settings
.idea
.vscode
/slash-reloader-config.json
/config.json
/lavalink-server.json
/lavasfy-servers.json
/misc.json
out
node_modules
db
package-lock.json
.env
node_modules/
config.json
dist/